{{ define "main" }}
<div class="row">
    <div class="col s12 ">
        <h2>{{.Title}}</h2>
    </div>
    <div class="col s12 flow-text">
        {{if .Params.FacebookLink}}
            <a href="{{.Params.FacebookLink}}" target="_blank"><img style="height: 1em" src="/images/fb.png"></a>
        {{end}}
        {{if .Params.GithubLink}}
        <a href="{{.Params.GithubLink}}" target="_blank"><img style="height: 1em" src="/images/github.png"></a>
        {{end}}
        {{if .Params.TwitterLink}}
            <a href="{{.Params.TwitterkLink}}" target="_blank"><img style="height: 1em" src="/images/twitter.svg"></a>
        {{end}}
        {{if .Params.WikiLink}}
            <a href="{{.Params.WikiLink}}" target="_blank"><img style="height: 1em" src="/images/wikipedia.svg"></a>
        {{end}}
        {{if .Params.ExternalLink}}
        <a href="{{.Params.ExternalLink}}" target="_blank" class="black-text"><i class="material-icons">link</i></a>
        {{end}}
    </div>
    <div class="col s12">
        <div class="flow-text">
            {{.Content}}
        </div>
    </div>
    {{ range where .Data.Pages "Params.primary" true }}
    <div class="col s12 m4">
        <div class="card hoverable blue-grey darken-1 ">
            <div class="card-content white-text">
                <span class="card-title">{{.Title}}</span>
                <p>{{.Content | truncate 150}}</p>
            </div>
            <div class="card-action">
                <a href="{{.Params.Link}}" target="_blank">Learn</a>
                <a href="{{.Permalink}}">More Info</a>
            </div>
        </div>
    </div>
    {{ end }}

</div>

<div class="row">

    {{if where  .Data.Pages "Params.primary" false }}

    <h4>Other Resources</h4>

    <div class="collection">
        {{ range where  .Data.Pages "Params.primary" false }}
        <a href="{{.Permalink}}" class="collection-item">
            {{.Title}}
        </a>
        {{end}}
    </div>
    {{end}}

</div>
{{end}}