{{ define "main" }}
<div class="row">
    <div class="col s12 ">
        <h2>{{.Title}}</h2>
    </div>
    <div class="col s12">
        <div class="flow-text">
            {{.Content}}
        </div>
    </div>
    {{ range where .Data.Pages "Params.primary" true }}
    <div class="col s12 m4">
        <div class="card hoverable blue-grey darken-1 ">
            <div class="card-content white-text">
                <span class="card-title">{{.Title}}</span>
                <p>{{.Content | truncate 150}}</p>
            </div>
            <div class="card-action">
                <a href="{{.Params.Link}}" target="_blank">Learn</a>
                <a href="{{.Permalink}}">More Info</a>
            </div>
        </div>
    </div>
    {{ end }}

</div>

<div class="row">

    {{if where  .Data.Pages "Params.primary" false }}

    <h4>Other Resources</h4>

    <div class="collection">
        {{ range where  .Data.Pages "Params.primary" false }}
        <a href="{{.Permalink}}" class="collection-item">
            {{.Title}}
        </a>
        {{end}}
    </div>
    {{end}}

</div>
{{end}}