{{ define "main" }}

<div class="row">
    <div class="col s12">
        <h2>{{ .Title }}{{ partial "difficulty.html" . }}</h2>
    </div>
    <div class="col s12">
        {{ partial "tags.html" . }}
    </div>
    <div class="col s12 flow-text">
        {{ .Content }}
    </div>
</div>

{{end}}

{{ define "floating-button" }}
<a class="btn-floating btn-large green waves-effect waves-circle waves-light " href="{{.Params.Link}}">
    <i class="material-icons">launch</i>
</a>
{{end}}

{{ define "floating-sub-buttons" }}
<li><a class="btn-floating waves-effect waves-circle waves-light" href="/"><i class="material-icons">home</i></a></li>
<li><a class="btn-floating waves-effect waves-circle waves-light" href="{{.Parent.Permalink}}"><i class="material-icons">arrow_back</i></a></li>
    {{if (.Params.Gitter)}}
        <li><a class="btn-floating waves-effect waves-circle waves-light open-gitter" ><i class="material-icons">chat</i></a></li>
    {{end}}
{{end}}